<!-- Guard against missing customer (defensive programming) -->
<div *ngIf="customer">

  <h1>
    <button (click)="left()"><</button>{{customer.name}}<button (click)="right()">></button>
  </h1>

  <p><i>{{customer.name}} is at {{customer.address.street}} in {{customer.address.city}}
      {{customer.address.state}} in the
      {{customer.address.region}} region.</i></p>
  <br>

  <fieldset>
    <label>Name: <input [(ngModel)]="customer.name"></label>
  </fieldset>

  <label><input type="checkbox" [(ngModel)]="showAddress"> Show Address</label>

  <div *ngIf="showAddress">
    <my-address [address]="customer.address"></my-address>
  </div>
</div>
